<%- include('../partials/header') %>
<%- include('../partials/menu') %>

	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			
			<%
			
			if (result_1) {
				    var tr = '';
				    
				    result_1.forEach(function(item){
				    tr += '<tr>'
				  		 tr += '<td>'
				  		 if(item.visitor_name){
				  		 	tr += item.game_date + '</td>';
				  		 }
				  		 tr += '<td>'
				  		 if(item.visitor_name){
				  		 	tr += item.visitor_name + '</td>';
				  		 }
				  		 tr += '<td>'
				  		 if(item.visitor_name){
				  		 	tr += item.home_score + '</td>';
				  		 }
				  		 tr += '<td>'
				  		 if(item.visitor_name){
				  		 	tr += item.visitor_score + '</td>';
				  		 }
				  		 tr += '<td>'
				  		 if(item.home_score > item.visitor_score){
				  		 	tr += 'Buffs' + '</td>';
				  		 }
				  		 else{
				  		 	tr += item.visitor_name + '</td>';
				  		 }
				    		tr += '</tr>'
				  	}); 
				  %>
			<%- tr %>
		<% } %>
			
			
			
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> <%= result_2.count %></td>
				<td> <%= result_3.count %></td>
			</tr>
		</table>
		
	</div>
<%- include('../partials/footer') %>
